.background {
    display: block;
    width: 100vw;
    height: 80vh;
    max-height: 80vh;
    overflow: hidden;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 0 bottom;

    img {
        height: 90vh;
        object-fit: cover;
    }

    @media screen and (min-width: 1280px) {
        height: 100vh;
        max-height: 100vh;
        background-position: 0 bottom;

        img {
            height: unset;
            object-fit: cover;
        }
    }
}

.tint {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    max-height: 80vh;
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);

    h1 {
        font-weight: bold;
        color: white;
        display: inline-block;
    }

    p {
        color: white;
    }

    @media screen and (min-width: 1280px) {
        height: 100vh;
        max-height: 100vh;
    }
}