$mobile-height: 100vh;

.background {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;

    img {
        height: $mobile-height;
        object-fit: cover;
        background-position: center;
    }

    @media screen and (min-width: 1280px) {
        height: 100vh;
        max-height: 100vh;
        background-position: center;

        img {
            height: 100vh;
            object-fit: cover;
            background-position: center center;
        }
    }
}