$break-mobile: 425px;
$break-tablet: 768px;
$break-desktop: 1024px;

#navbar {
    $mobile: 6vw;
    $tablet: 6vw;
    $laptop: 3vw;
    padding-top: 3vw;
    padding-bottom: 5vw;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .brand {
        font-weight: bold;
        font-size: 1.6rem;
    }


    @media screen and (max-width: $break-tablet) {
        margin-left: $tablet;
        margin-right: $tablet;
        width: calc(100% - $tablet*2);
        padding-top: 8vw;
        padding-bottom: 10vw;
    }

    @media screen and (min-width: $break-tablet) {
        width: calc(100% - $laptop*2);
        margin-left: $laptop;
        margin-right: $laptop;
    }
}

.float {
    @extend #navbar;
    position: absolute;
    .cta, .brand {
        color: white;
    }
}

.cta {
    // padding: 1rem 0.5rem;
    color: rgba(0,0,0,0.8);
    transition: all 0.25s ease;
    font-weight: 500;;

    &:hover {
        padding-right: 15px;
    }
}