$break-mobile: 425px;
$break-tablet: 768px;
$break-desktop: 1024px;

.navspace {
    height: 3vw;
    display: block;
}

#navbar {
    $mobile: 6vw;
    $tablet: 6vw;
    $laptop: 3vw;
    padding-top: 1.3vw;
    padding-bottom: 1.3vw;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: rgba(255, 255, 255, 1);

    .brand img {
        width: 7vw;

        @media screen and (min-width: 960px) {
            width: 2.5vw;
        }
    }


    @media screen and (max-width: $break-tablet) {
        margin-left: $tablet;
        margin-right: $tablet;
        width: calc(100% - $tablet*2);
        padding-top: 8vw;
        padding-bottom: 10vw;
    }

    @media screen and (min-width: $break-tablet) {
        width: 100%;
        padding-left: 9.3vw;
        padding-right: 9.3vw;
        padding-top: 1.3vw;
        padding-bottom: 1.3vw;
    }
}

.float {
    @extend #navbar;
    position: absolute;
    .cta, .brand {
        color: white;
    }
}

.cta {
    padding: 0.7rem 1.5rem;
    color: white;
    background-color: #004AE4;
    transition: all 0.25s ease;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0px 5px 20px #002e9249;

    &:hover {
        padding-left: 30px;
        padding-right: 30px;
        background-color: black;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    }
}