.wrap {
    display: flex;
    justify-content: space-between;
    margin: auto;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.module {
    width: 90%;
    padding: 1.4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition-duration: 0.25s;

    .icon {
        img{
            width: auto;
            max-height: 5vw;

            @media screen and (max-width: 1024px) {
                max-height: 15vw;
            }
        }
    }

    h2, h3 {
        width: 100%;
        font-weight: 500;
        margin-bottom: 0px;
        line-height: 1.25rem;
        font-size: 1.2rem;
        text-align: center;
    }

    p {
        width: 100%;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 1.5rem;
        opacity: 0.8;
        text-align: center;
    }

    a {
        font-weight: bold;
        color: #1050FF;
    }

    span {
        position: absolute;
        font-size: 8rem;
        top: -3rem;
        right: 0rem;
        // color: #ca4c82;
        color: rgb(237, 237, 237);
    }

    @media screen and (max-width: 1024px) {

        span{
            display: none;
        }
        width: 70%;
        margin: auto;
    }
}

.module1{
    @extend .module;
}
.module2{
    @extend .module;
}
.module3{
    @extend .module;
}
.module4{
    @extend .module;
}