$break-mobile: 425px;
$break-tablet: 768px;
$break-desktop: 1024px;
.container {
    $mobile: 6vw;
    $tablet: 6vw;
    $laptop: 3vw;

    @media screen and (max-width: $break-tablet) {
        margin-left: $tablet;
        margin-right: $tablet;
    }

    @media screen and (min-width: $break-tablet) {
        margin-left: $laptop;
        margin-right: $laptop;
    }
    
}