.footer {
    background-color: black;
    width: 100vw;

    h2{
        color: white;
    }

    span {
        color: white;
        opacity: 0.7;
        line-height: 1.75rem;
        font-weight: 300;
        text-align: center;
    }

    a {
        color: black;
        background-color: #fce55f;
        font-weight: normal;
        text-decoration: none;
        width: 250px;
        margin: auto;
    }
}