$module: #FCFCFD;
$deco: #E9EDF5;

.wrap {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

.module {
    background-color: $module;
    width: 70%;
    padding: 2.4rem;
    position: relative;
    border-radius: 15px;

    box-shadow: 0px 39px 100px rgba(0,0,0,0.14);

    transition-duration: 0.25s;

    h2 {
        width: 95%;
        font-weight: normal;
        margin-bottom: 10px;
        line-height: 2.25rem;
        font-size: 1.8rem;
    }

    p {
        width: 100%;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 1.5rem;
        opacity: 0.8;
    }

    a {
        font-weight: bold;
        color: #1050FF;
    }

    span {
        position: absolute;
        font-size: 2rem;
        top: -1rem;
        left: 2rem;
        // color: #ca4c82;
        color: black;
    }

    @media screen and (max-width: 1024px) {

        span{
            display: none;
        }
        width: 100%;
    }
}

.module1{
    @extend .module;
    margin-right: 1.4vw;
}
.module2{
    @extend .module;
}
.module3{
    margin-left: 1.4vw;
    @extend .module;
}


.deco {
    display: block;
    position: absolute;
    width: 45vw;
    height: 30vh;
    background-color: $deco;
    // background-image: linear-gradient(20deg, #1050FF, #5db0ff);
    z-index: -1;
    bottom: -5vh;
    transition-duration: 0.5s;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

@media screen and (max-width: 1400px) {

    .deco {
        bottom: -5vh;
        height: 30vh;
        width: 80vw;;
    }
}

@media screen and (max-width: 1280px) {

    .deco {
        bottom: -5vh;
        height: 30vh;
        width: 70vw;;
    }
}

@media screen and (max-width: 1024px) {
    .module1, .module2, .module3 {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 4.4vw;
    }    

    .deco {
        bottom: -5vh;
        height: 80vh;
        width: 100vw;;
    }
}    

@media screen and (max-width: 720px) {
    .deco {
        bottom: 0vh;
        height: 90vh;
        width: 100vw;;
    }
}    

@media screen and (max-width: 480px) {
    .deco {
        bottom: 0vh;
        height: 120vh;
        width: 100vw;;
    }
}    
