// DEBUG CLASSES
.dbb, .brd {
    border: 1px solid red !important;

    .brd {
        border: 1px dashed blue !important;

        .brd {
            border: 1px dotted green !important;
        }
    }
}