@import "./tachyons.scss";
@import "./colors.scss";
@import "./dbb.scss";


@font-face {
  font-family: SatoshiLightItalic;
  src: url('/fonts/Satoshi-LightItalic.ttf');
}
@font-face {
  font-family: SatoshiLight;
  src: url('/fonts/Satoshi-Light.ttf');
}
@font-face {
  font-family: SatoshiRegular;
  src: url('/fonts/Satoshi-Regular.ttf');
}
@font-face {
  font-family: SatoshiItalic;
  src: url('/fonts/Satoshi-Italic.ttf');
}
@font-face {
  font-family: SatoshiBold;
  src: url('/fonts/Satoshi-Bold.ttf');
}
@font-face {
  font-family: SatoshiBlack;
  src: url('/fonts/Satoshi-Black.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

$font-main: SatoshiRegular;
$font-body: SatoshiRegular, Arial, sans-serif;

.uni {
  font-family: "UnifrakturMaguntia", SatoshiRegular, Arial;
  font-weight: 400;
  font-style: normal;
}

$font-accent: "UnifrakturMaguntia";

body {
  background-color: black;
  font-family: $font-main;
}

h1, h2, h3, h4, h5, h6, label{
  font-family: SatoshiBold;
  line-height: 0.9;
  font-weight: bold;
}

.f-accent {
  font-family: $font-accent;
}

p, a, span, img {
  font-family: $font-main;
}

a {
  text-decoration: none;
}

body, html {
  overflow-x: hidden;
  max-width: 100vw;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.margin-auto {
  margin: auto;
}

img {
  display: inherit;
  line-height: 0;
}

// ==============================================================

#about {
  background-color: $gray;
}

#landing {
  position: relative;
  h1 {
    color: $white;
    font-family: $font-accent;
    font-size: 18vw;
    font-weight: normal;
  }
  p{
    color: $gray2;
    font-size: 4vw;
  }

  @media screen and (min-width: 960px) {
    h1 {
      font-size: 7vw;
    }
    p{
      font-size: 1.6vw;
    }
  }
}

.portrait {
  $portrait-mobile: 1.2;
  z-index: -1;
  bottom: 0vw;
  right: -35vw;
  width: 100vw;
  height: auto;
  transform: scaleX(calc($portrait-mobile * -1)) scaleY($portrait-mobile);
  opacity: 0.5;
  position: absolute;
}

@media screen and (min-width: 960px) {
  .portrait {
    top: -25vw;
    right: -10vw;
    width: 75vw;
    height: auto;
    transform: scaleX(-0.6) scaleY(0.6);
    opacity: 0.5;
    position: absolute;
    bottom: unset;
  }
}

.footer-lines-left {
  position: absolute;
  width: 30vw;
  left: 0;
  bottom: 0;
}

.footer-lines-right-top {
  position: absolute;
  width: 28vw;
  right: -5vw;
  top: 0;
}

.footer-lines-right-bottom {
  position: absolute;
  width: 15vw;
  right: -1vw;
  bottom: 0;
}

.social-links-img {
  max-width: 20px;
  width: 20px ;
}

.cta {
  font-family: SatoshiBold;
}